*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

/*===================================================================================
                                        Header
====================================================================================*/                                                           
header {
    background: #151A1C;
    height: 64px;
    padding-top: 8px;
    width: 100%;
}

/*=========================================================
                            Меню
==========================================================*/

#logo {
    margin-left: 32px;
    margin-top: 10px;
    vertical-align: top;
    width: 160px; height: 28px;
}    

.text-from-menu {
    position: relative;
    top: 17px;
    width: calc(100% - 350px);
    text-align: center;

}

.text-from-menu a {
   color: white;
   margin-left: 37px;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   font-size: 14px;
   text-decoration: none;
}

/*=========================================================
                   Регистрація і стріми 
==========================================================*/
   
#live::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 32px;
    left: -30px; top: -7px;
    background-color: white;
}
#Live {
    margin-left: 20px;
}

#signIn {
    margin-right: 31px;
}

.register > a {
    color: white;
    vertical-align: top;
    text-decoration: none;
    top: 20px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/*==================================================================================*/
 
div {
    vertical-align: top;
}

.inline-block {
   display: inline-block;
}

.text-styles {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

/*======================================================================================
                                     Footer
=======================================================================================*/

html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}

footer {
  margin-top: -515px;
  height: 515px;
  background-color: #151A1C;
  width: 100%;
}



/*---------------------Columns------------------------*/
.footer-column {
  height: 150px;
}

#first-column {
  position: relative;
  left: 420px;
  width: 100px;
}

#second-column {
  position: relative;
  left: 639px;
  top: -95px;
  width: 100px;
}

#third-column {
  position: relative;
  left: 850px;
  top: -190px;
  width: 100px;
}

#fourth-column {
  position: relative;
  left: 1065px;
  top: -285px;
  width: 120px;
}

#fifth-column {
  position: relative;
  left: 1282px;
  top: -380px;
  width: 100px;
}

.footer-column a {
  color: white;
  text-decoration: none;
}

.column-title {
  text-transform: uppercase;
  margin-bottom: 25px; 
}  



