*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

/*===================================================================================
                                        Header
====================================================================================*/                                                           
#header {
    background: #151A1C;
    height: 64px;
    padding-top: 8px;
    width: 100%;
}

/*=========================================================
                            Меню
==========================================================*/

#logo {
    margin-left: 32px;
    margin-top: 10px;
    vertical-align: top;
    width: 160px; height: 28px;
}    

.text-from-menu {
    position: relative;
    top: 17px;
    width: calc(100% - 350px);
    text-align: center;

}

.text-from-menu a {
   color: white;
   margin-left: 37px;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   font-size: 14px;
   text-decoration: none;
}

/*=========================================================
                   Регистрація і стріми 
==========================================================*/
   
#live::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 32px;
    left: -30px; top: -7px;
    background-color: white;
}
#live {
    margin-left: 20px;
}

#sign-in {
    margin-right: 31px;
}

.register > a {
    color: white;
    vertical-align: top;
    text-decoration: none;
    top: 20px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/*==================================================================================*/

.inline-block {
   display: inline-block;
}

.text-styles {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.small-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-decoration: none;
  
}
/*======================================================================================
                                     Footer
=======================================================================================*/

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: 100%;
}

footer {
  margin-top: -515px;
  height: 515px;
  background-color: #151A1C;
  width: 100%;
}

body {
  background-color: black;
}

/*=========================Columns============================*/

.footer-column a {
  color: white;
  text-decoration: none;
  padding-left: 100px;
}

.footer-column {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1061px;
}


.column-title {
  text-transform: uppercase;
  margin-bottom: 25px; 
}  
 

.column-text {
  margin-bottom: 12px;
}

/*===========================Icons=========================*/

.social-icons {
  height: 40px;
  margin-right: 5px;
}

#icons {
  margin-right: auto;
  margin-left:auto;
  margin-top: 30px;
  width: 486px;
}

#arrow-down {
  height: 30px;
  margin-left: 50%;
  margin-top: 20px;
}

/*=================================Footer-dowm=================================*/

.copyright {
    color: white;
    margin-bottom: 15px;
}

.footer-down {
  color: white;
  margin-top: 80px;
}

#r18 {
  height: 32px;
  margin-left: 455px;
  margin-right: 30px;
  margin-bottom: 35px;
}

#bold {
  font-weight: bold;
}

.footer-right a {
  color: white;
  text-transform: uppercase;
}

.footer-right {
  margin-left: 660px;
  position: relative;
  bottom: 50px;
}

.footer-right span {
  margin-left: 10px;
  margin-right: 10px;
}
/*=======================================Main======================================*/


main {
  min-height: 100%;
  height: 100%;
}


/*======================================Aside=====================================*/
#aside {
  background-color: #f6f6f6;
  width: 288px;
  height: 100%;
  margin-left: 19%;
  min-height: 100%;
}

.title {
  font-size: 32px;
  font-family: Rubik, sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  padding-top: 35px;
}

.aside-links a {
  display: block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-weight: 500;
  margin-bottom: 15px;
}

.aside-menu{
  margin-left: 30px;
}

