*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

/*===================================================================================
                                        Header
====================================================================================*/                                                           
header {
    background: #151A1C;
    height: 64px;
    padding-top: 8px;
    width: 100%;
}

/*=========================================================
                            Меню
==========================================================*/

#logo {
    margin-left: 32px;
    margin-top: 10px;
    vertical-align: top;
    width: 160px; height: 28px;
}    

.text-from-menu {
    position: relative;
    top: 17px;
    width: calc(100% - 350px);
    text-align: center;

}

.text-from-menu a {
   color: white;
   margin-left: 37px;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   font-size: 14px;
   text-decoration: none;
}

/*=========================================================
                   Регистрація і стріми 
==========================================================*/
   
#live::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 32px;
    left: -30px; top: -7px;
    background-color: white;
}
#Live {
    margin-left: 20px;
}

#signIn {
    margin-right: 31px;
}

.register > a {
    color: white;
    vertical-align: top;
    text-decoration: none;
    top: 20px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/*==================================================================================*/
 
div {
    vertical-align: top;
}

.inline-block {
   display: inline-block;
}

.text-styles {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.small-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-decoration: none;
  
}
/*======================================================================================
                                     Footer
=======================================================================================*/

html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}

footer {
  margin-top: -515px;
  height: 515px;
  background-color: #151A1C;
  width: 100%;
}



/*=========================Columns============================*/

.footer-column a {
  color: white;
  text-decoration: none;
  padding-left: 100px;
}

.footer-column {
  margin-left: 350px;
  margin-top: 50px;
}


.column-title {
  text-transform: uppercase;
  margin-bottom: 25px; 
}  
 

.column-text {
  margin-bottom: 12px;
}

/*===========================Icons=========================*/

.social-icons {
  height: 40px;
  margin-right: 5px;
}

#icons {
  margin-left: 650px;
  margin-top: 30px;
}

#arrow-down {
  height: 30px;
  margin-left: 900px;
  margin-top: 20px;
}

/*=================================Footer-dowm=================================*/

.copyright {
    color: white;
    margin-bottom: 15px;
}

.footer-down {
  color: white;
  margin-left: px;
  margin-top: 80px;
}

#r18 {
  height: 32px;
  margin-left: 455px;
  margin-right: 30px;
  margin-bottom: 35px;
}

#bold {
  font-weight: bold;
}




